name: Release AddOn

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]*'

env:
  GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}

jobs:
  release:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: BigWigsMods/packager@v2
        with:
          args: -g -n "{package-name}-{project-version}:{project-version}"
